{% extends 'base.html' %}
<!--
	Faction by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->

{% block content %}
<section class="main">
    <section>

        <header>
            <h1>Bruce H. Raszmann Award</h1>
            <p>Page Under Construction</p>
        </header>

        <span class="image main"><img src="{{ url_for('ona.static', filename='images/pic09.jpg') }}" alt="" /></span>
        <p>Check back later.</p>
    </section>
</section>
{% endblock content %}

