{% extends 'base.html' %}
<!--
	Faction by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->

{% block content %}
<section class="main">
    <section>

        <header>
            <h1>Apply For Membership in the O.N.A.</h1>
            <p>If you would like to become a member of the Ontario Numismatic Association please use one of the forms below which best applies to you. Want to learn more? You can read further about the Benefits of Membership in the O.N.A. <a href="/membership">here</a>. If you have any further questions about becoming a member please feel free to contact our <a href="mailto:membership@the-ona.ca">Membership Chairman.</a></p>
        </header>

        <!-- <span class="image main"><img src="{{ url_for('static', filename='images/pic09.jpg') }}" alt="" /></span> -->
        <span class="image left"><img src="http://the-ona.ca/menu/ts2a.gif" alt="" /></span>
        <h4>On-line Membership Application</h4>
        <p>Are you already a member of The Ontario Numismatic Association? If so, you can renew an existing membership by <a href="/online-renewal">following this link</a>. If you would like to apply on-line as a: Regular, Regular Digital, Spousal, or Youth's Digital new member of The Ontario Numismatic Association please <a href="/online-membership">follow this link.</a></p>

        <hr>

        <span class="image left"><img src="http://the-ona.ca/menu/ts2a.gif" alt="" /></span>
        <h4>Adult Membership Application</h4>
        <p>If you are applying as a single adult (18 years of age or older) or a couple please use this application form: </p>
        <a class="button" href="{{ url_for('static', filename='docs/ONA_Membership_individual.pdf') }}">ONA Membership Application</a>

        <hr>

        <span class="image left"><img src="http://the-ona.ca/menu/ts2a.gif" alt="" /></span>
        <h4>Junior Membership Application</h4>
        <p>
            If you are under 18 years of age you are eligible to apply for membership as a Junior Member - please use this application form:<br><br>
            <a class="button" href="{{ url_for('static', filename='docs/ONA_Junior_Membership.pdf') }}">ONA Junior Membership Application</a>
        </p>
        <p>
            Through the generosity of Mr. Albert Kasman we are able to offer you a scholarship covering the second year of your digital membership dues. Please use the form below to apply for the Kasman Scholarship:<br><br>
            <a class="button" href="{{ url_for('static', filename='docs/ONA_Membership_Kasman_Youth.pdf') }}">Albert Kasman Scholarship - Junior Digital Membership Application</a>
        </p>

        <hr>

        <span class="image left"><img src="http://the-ona.ca/menu/ts2a.gif" alt="" /></span>
        <h4>Club Membership Application</h4>
        <p>
            If you are applying as a representative of a numismatic club please use this application form:<br><br>
            <a class="button" href="{{ url_for('static', filename='docs/ONA_Membership_club.pdf') }}">ONA Club Membership Application</a>
        </p>
        <p>
            In addition, please take a moment to fill in our Club Profile form:<br><br>
            <a class="button" href="{{ url_for('static', filename='docs/Club_Profile_2012.pdf') }}">Member Club Profile Form</a>
        </p>
        <br>
        <p>We will include your club information on our website and if your club hosts a local coin show we will include that in our database of local coin shows.</p>
    </section>
</section>
{% endblock content %}

