{% extends 'base.html' %}
<!--
	Faction by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->

{% block content %}
<section class="main">
    <section>

        <header>
            <h1>O.N.A. Constitution and By-Laws</h1>
            <hr>
            <span class="image left"><img src="http://the-ona.ca/menu/ts2a.gif" alt="" /></span>
            <h3>Last Amended August 2017</h3>
            <p>
            <a class="button large" href="{{ url_for('static', filename='docs/Constitution_and_Bylaws_ONA.pdf') }}">O.N.A. Constitution and By-Laws</a>
            <br>
            <code>August, 2017, Revision to the O.N.A. Constitution and By-laws (16 pages).</code>
            </p>
            <p>
                Click above button to view in pdf format.
            </p>
            <p>
                If you have any questions regarding this document, please
                e-mail the O.N.A. President or any other member of the
                Executive Committee. 
            </p>
        </header>

    </section>
</section>
{% endblock content %}

