{% extends 'base.html' %}
<!--
	Faction by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->

{% block content %}
<section class="main">
    <section>

        <header>
            <h1>O.N.A. Executive Committee</h1>
            <p>
                The O.N.A. executive team consists of an elected executive
                committee as well as an appointed body of regional directors
                and committee chairs.  We are here to serve our members.
            </p>
        </header>
        <p>Click the tabbed links below for the team's contact information.</p>
        <details>
            <summary><b>Executive Committee</b></summary>
            <span class="image left"><img src="http://the-ona.ca/menu/ts1a.gif" alt="" /></span>
            <h3>Elected Executive Committee:</h3>
            <ul>
                <li>President: <b><i>Sean Sinclair</i></b> (2021 - present)</li>
                <li>First Vice-President: <b><i>Cassidy Stroud</i></b> (2021 - present)</li>
                <li>Second Vice-President: <b><i>Lisa McPherson</i></b> (2021 - present)</li>
                <li>Immediate Past President (Ex-Officio): <b><i>Scott Douglas</i></b> (2017 - 2021)</li>
            </ul>
            <hr>
            <span class="image left"><img src="http://the-ona.ca/menu/ts1a.gif" alt="" /></span>
            <h3>Appointed Executive Committee: </h3>
            <ul>
                <li>Secretary: <b><i>Dan Bowyer</i></b></li>
                <li>Youth Ambassador: <b><i>Sarah Sawicki</i></b></li>
                <li>Treasurer: <b><i>Robb McPherson</i></b></li>
            </ul>
        </details>

        <details>
            <summary><b>Committee Chairs</b></summary>
            <span class="image left"><img src="http://the-ona.ca/menu/ts1a.gif" alt="" /></span>
            <h3>Committee Chairs (Appointed):</h3>
            <ul>
                <li>Membership Services: <b><i>Dan Bowyer</i></b></li>
                <li>Club Services Chairman: <b><i>Stephen Adams</i></b></li>
                <li>Club Insurance Chairman: <b><i>Paul Petch</i></b></li>
                <li>Web Committee Chairman: <b><i>Henry Nienhuis</i></b></li>
            </ul>
        </details>

        <hr>
        <span class="image left"><img src="http://the-ona.ca/menu/ts1a.gif" alt="" /></span>
        <h3>Our Constitution and By-Laws</h3>
        <p>
            Visit our Constitution and By-Laws page <a href="/constitution">here</a>
        </p>

    </section>
</section>
{% endblock content %}

