{% extends 'base.html' %}
<!--
	Faction by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->

{% block content %}
<section class="main">
    <section>
        <a class="anchor" id="top"></a>
        <header>
            <h1>Frequently Asked Questions</h1>
            <ul>
                <li><a href="#question1">Do I have to have a coin collection to join the ONA?</a></li>
                <li><a href="#question2">Do I have to be a member of a local coin club to join the ONA?</a></li>
                <li><a href="#question3">Do I have to wait until January to join the ONA?</a></li>
                <li><a href="#question4">Do I have to be over 18 years old to join?</a></li>
                <li><a href="#question5">What is there to do at ONA Conventions?</a></li>
                <li><a href="#question6">Does the ONA belong to any association?</a></li>
            </ul>
        </header>

        <article>
            <a class="anchor" id="question1"></a>
            <h2>Do I have to have a coin collection to join the ONA?</h2>
            <p>
                We welcome all new collectors just starting out, and we will
                assist you to learn how to collect, handle, store, and protect
                your collection.<br>
                <small><a href="#top">back to top</a></small>
            </p>
        </article>

        <hr>

        <article>
            <a class="anchor" id="question2"></a>
            <h2>Do I have to be a member of a local coin club to join the ONA?</h2>
            <p>
                Any individual or club may join the ONA. The individual does not
                have to belong to a local club. However, there are many
                benefits to joining local clubs or just dropping into their
                meetings as guests, and we will be pleased to explain those
                benefits to you.<br>
                <small><a href="#top">back to top</a></small>
            </p> 
        </article>

        <hr>

        <article>
            <a class="anchor" id="question3"></a>
            <h2>Do I have to wait until January to join the ONA?</h2>
            <p>
                You can join at any time of the year, and if you join in the
                back half of the year, your dues are considered as being for
                the upcoming year. For example, if you join in March, you remittance is
                for this year, but if you join in September, you remittance is for next
                year. We have special memberships designed for your needs, you can join as an
                individual or family and renewal annually, or purchase a life-time membership
                so you only have to remit once.<br>
                <small><a href="#top">back to top</a></small>
            </p>
        </article>

        <hr>

        <article>
            <a class="anchor" id="question4"></a>
            <h2>Do I have to be over 18 years old to join?</h2>
            <p>
                We welcome junior members, and you may be eligible for a free
                membership if you enrolled in the CoinsKids program. It's
                always a good idea if you are under 16 to get your parents'
                consent to join, and they may wish to join with you. <br>
                <small><a href="#top">back to top</a></small>
            </p>
        </article>

        <hr>

        <article>
            <a class="anchor" id="question5"></a>
            <h2>What is there to do at ONA Conventions?</h2>
            <p>
                You can enjoy bidding at auctions or negotiating deals on the
                bourse floor. You can enter an exhibit for competition or a
                non-competitive exhibit for educational purposes only. You can
                come out to receptions, the hospitality suite, and the banquet
                to enjoy fun, laughter, fine food, but most of all smiles as
                you grow friendships and networks. You can find those items for
                your collection that you have been searching for. You can
                attend education seminars to increase your numismatic
                knowledge. You can participate at meetings for various
                numismatic groups including the ONA meetings. If you
                pre-register for the convention, you will receive a kit of
                goodies including a convention medal. If you pre-volunteer for
                the convention and are present all three days, you will be
                recognized for that. If you attend the banquet, you will
                witness the presentation of awards, and you might be a
                recipient. Often there are extra-curricular activities
                available in the host city as arranged by the host club, these
                can be tours to local attractions. If traveling from out of
                town and pre-registering for the convention, you will get a
                special discounted accommodate rate. <br> 
                <small><a href="#top">back to top</a></small>
            </p>
        </article>

        <hr>

        <article>
            <a class="anchor" id="question6"></a>
            <h2>Does the ONA belong to any association?</h2>
            <p>
                The Ontario Numismatic Association has been a long-term proud
                member of the Royal Canadian Numismatic Association (formerly
                the Canadian Numismatic Association). <br>
                <small><a href="#top">back to top</a></small>
            </p>
        </article>

    </section>
</section>
{% endblock content %}

