{% extends 'base.html' %}
<!--
	Faction by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->

{% block content %}
<section class="main">
    <section>

        <header>
            <h1>O.N.A. Presentations Library</h1>
        </header>

        <!-- <span class="image main"><img src="{{ url_for('static', filename='images/pic09.jpg') }}" alt="" /></span> -->
        <span class="image left"><img src="http://the-ona.ca/menu/ts1a.gif" alt="" /></span>
        <h3>Special Benefit to ONA Member Clubs</h3>
        <p>Thanks to the generosity of the London Numismatic Society, the O.N.A. can offer, at no charge, over 50 PowerPoint presentations to O.N.A. member clubs. Each presentation is suitable for a program at a club meeting. Topics include Canadian decimal coins, tokens and paper money, world coins and paper money, and London Ontario items of interest.</p>
        <p>All the presentations and text files are available online for download <a href="#">here.</a></p>
        <p>While the presentations are best viewed using a digital projector, they can be shown to a smaller group just using a laptop computer or good-sized monitor. The text for each presentation has to be printed out beforehand so it can be read out loud as each slide is shown.If the PowerPoint programs will not load properly, contact the O.N.A. Club Services Chair.</p>
        <p>Each club that takes advantage of this offer should thank the <b>London Numismatic Society</b> and especially <b>Ted Leitch</b> who chairs this project! They have unselfishly provided several years of programs and show the benefit of co-operation and of belonging to larger organizations such as the <b>Ontario Numismatic Association.</b></p>
    </section>
</section>
{% endblock content %}

